
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <style>

    .row.content {height: 450px}
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
    <nav>
                <ul>
                    <li><a href="/">Home</a></li> <!-- where I would put the links to the other pages -->
                    <li><a href="actors">Actors</a></li>
                    <li><a href="movies">Movies</a></li>
                </ul>
            </nav>
</head>
<body>

<div class="container-fluid text-center">
  <div class="row content">

    <div class="col-sm-8 text-left">
      <h1>Actors List</h1>
      <p> Clicking on an actor will display the movies they've appeared in
        <hr>
        <div id="actor-list"></div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p id="actor-info"></p>
    </div>
  </div>
</div>
</div>

<script src="static/actors.js"></script>

</body>




